@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Belanosima&family=Belleza&family=Capriola&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playwrite+AR:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: #e2d4ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
 
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(45deg,#2f4680,#500ae4);
  width: 500px;
  margin: auto;
  padding: 50px;
  margin-top: 10px;
  border-radius: 40px;
  margin-bottom: 10px;
}

ul{
  padding: 0;
  margin: 0;
  margin-top: 20px;
  position: relative;
  left: -10px;
}


.list{

  list-style: none;
  margin-bottom: 5px;
  background-color: #caf0f8;
  margin-left: 0;
  padding: 5px;
  font-weight: 600;
  border-radius: 20px;
  padding-left: 80px;
}

.list:hover {
  cursor: pointer;
  background-color: #00b4d8;
}

.renderList{
  height:180px;
}

.userCurrentLocation{
  position: absolute;
  left: 10%;
}

.location{
  width: 25px;
  position: absolute;
  left: 575px;
  top: 160px;
}

.zoom{
  width: 25px;
  height: 25px;
  position: relative;
  top: 8px;
  left: -40px;
  filter: invert(41%) sepia(9%) saturate(110%) hue-rotate(0deg) brightness(96%) contrast(89%);
}


input{
  height: 40px;
  width: 250px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding-left: 20px;
  color:#626262;
  background: #ebfffc;
  font-size: 18px;
 


}

input::placeholder{
  color:#626262;
  padding-left: 10px;
 
}

input:hover{
  cursor:text;
}

.nadpis{
  text-align: center;
  color: #f6fff8;
  font-size: 25px;
  
}

.sun {
  width: 100px;
}

.sunresult{
  width: 20px;
}

.town{
  color:#c1121f;
 
  padding: 5px;

}

.mesto{
  color: #11e3d8;
  font-size: 40px;
  font-weight: 800;
}

.ikona{
text-align: center;
 background-color: #040b0c;
 
}

th{
  text-align: left;
  margin-left: 5px;
  width: 130px;
  border-bottom: 5px solid #000000;
  margin-bottom: 2px;
  font-size: 20px;
}

td{
  color: #f6fff8;
  border: 1px solid #000000;
  padding: 5px;
  font-weight: 700;
  background-color: black;
  border-radius: 15px;
}